{% extends 'FTNWBundle:Layout:main.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-header">
                    <h1 class="bloghead">Заявка на получение поинта получена</h1>
                </div>
                <p>Учетная запись будет активирована в течение 10 минут с параметрами:</p>
                <ul>
                    <li>Fido address: <strong>{{ node_address }}.{{ num }}</strong></li>
                    <li>Account type: <strong>web-bbs point</strong></li>
                </ul>
                <br><br>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">

            </div>
            <div class="col-sm-8">

            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
