
<p>
<div class="btn-group btn-group-justified visible-sm visible-xs" role="group" aria-label="...">
    {% if nav is defined and nav.prev %}<a href="{{ path('netmail_message',{'netmail_id':nav.prev}) }}" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-arrow-left"></span></a>{% endif %}
    <a href="{{ path("netmail") }}" class="btn btn-primary active">Netmail{% if nav is defined %}<span style="letter-spacing: 0.1em;"> {{ nav.current }}/{{ nav.total }} </span>{% endif %}</a>
    <a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapseAreas" aria-expanded="false" aria-controls="collapseAreas">Echoareas
        <span class="caret"></span></a>
    {% if nav is defined and nav.next %}<a href="{{ path('netmail_message',{'netmail_id':nav.next}) }}" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-arrow-right"></span></a>{% endif %}
</div>
</p>
<div class="collapse" id="collapseAreas">
    <div class="list-group">
        {% for group in groups %}
            <a href="{{ path('fidonews_group',{'group_id':group.id}) }}" class="list-group-item"><span class="badge">{{ group.cnt }}</span>{{ group.name }}</a>
        {% endfor %}
    </div>
</div>

{% include 'FTNWBundle:Editor:grouplistmenu.html.twig' %}
