<div class="btn-group" role="group" aria-label="...">
    {% if nav.prev %}<a href="{{ path('netmail_message',{'netmail_id':nav.prev}) }}" type="button" class="btn btn-primary btn-md"><span class="glyphicon glyphicon-arrow-left"></span></a>{% endif %}
    <a href="{{ path("netmail_post") }}" type="button" class="btn btn-primary btn-md"><span class="glyphicon glyphicon-plus"></span> New</a>
    {% if message %}
    <a href="{{ path('netmail_reply',{'id':message.m_id}) }}" type="button" class="btn btn-primary btn-md"><span class="glyphicon glyphicon-share-alt"></span> Reply</a>
    {% endif %}
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right">
            <li><a href="{{ path("netmail_email") }}"><span class="glyphicon glyphicon-envelope"></span> New email</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-forward"></span> Forward message</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{{ path("netmail_list") }}"><span class="glyphicon glyphicon-th-list"></span> Unseen messages list</a></li>
            <li><a href="{{ path("netmail_list_all") }}"><span class="glyphicon glyphicon-list"></span> All messages list</a></li>
        </ul>
    </div>

    {% if nav.next %}<a href="{{ path('netmail_message',{'netmail_id':nav.next}) }}" type="button" class="btn btn-primary btn-md"><span class="glyphicon glyphicon-arrow-right"></span></a>{% endif %}
</div>
