{% extends 'FTNWBundle:Layout:main.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{  parent() }}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                {% include 'FTNWBundle:Editor:netlistmenu.html.twig' %}
            </div>
            <div class="col-md-9">
                    <div class="page-header hidden-xs">
                        <div class="pull-right">
                        {% include 'FTNWBundle:Editor:netmail-buttons.html.twig' %}
                        </div>
                        <h1 class="bloghead">
                            Netmail
                            {%  if nav is defined %}
                            <small>{{ nav.current }}/{{ nav.total }}</small>
                            {% endif %}
                        </h1>
                    </div>
                    {% if message %}
                    <div class="panel panel-default">
                        <!-- Default panel contents -->
                        <!--<div class="panel-heading">Panel heading</div>-->
                        <table class="table table-condensed">
                            <tr class="default">
                                <td class="text-right"><strong>From:</strong></td>
                                <td class="text-left">{{ message.m_hFrom }} <a class="btn btn-xs btn-default">{{ message.m_hFromFtn }}</a></td>
                                <td class="text-left">{{ message.m_hDate|date('d M Y H:i O') }}</td>
                            </tr>
                            <tr class="default">
                                <td class="text-right"><strong>To:</strong></td>
                                <td class="text-left">{{ message.m_hTo }} {% if message.m_hToFtn %}<a class="btn btn-xs btn-default">{{ message.m_hToFtn }}</a>{% endif %}</td>
                                <td class="text-left">{{ message.m_cachedAt|date('d M Y H:i O') }}</td>
                            </tr>
                            <tr class="default">
                                <td class="text-right"><strong>Subject:</strong></td>
                                <td colspan="2">{{ message.m_subject }}
                                    <div class="btn-group pull-right" role="group">
                                        <button type="button" class="btn btn-xs btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="glyphicon glyphicon-menu-hamburger"></span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li><a href="{{ path('netmail_post') }}"><span class="glyphicon glyphicon-plus"></span> Write message</a></li>
                                            <li><a href="{{ path('netmail_reply',{'id':message.m_id}) }}"><span class="glyphicon glyphicon-share-alt"></span> Reply to message</a></li>
                                            <li><a href="#"><span class="glyphicon glyphicon-forward"></span> Forward message</a></li>
                                            <li role="separator" class="divider"></li>
                                            <li><a href="{{ path("netmail_list") }}"><span class="glyphicon glyphicon-th-list"></span> Unseen messages list</a></li>
                                            <li><a href="{{ path("netmail_list_all") }}"><span class="glyphicon glyphicon-list"></span> All messages list</a></li>
                                            <li role="separator" class="divider"></li>
                                            <li><a role="button" data-toggle="collapse" href="#collapseHeaders" aria-expanded="false" aria-controls="collapseHeaders"><span class="glyphicon glyphicon-console"></span> Message headers</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="collapse" id="collapseHeaders">
                        <pre><code>{{ message.m_srcHeader }}</code></pre>
                    </div>

                    <div class="message_viewer">{{ message.m_body|raw }}</div>

                    <div class="row">
                        <div class="col-sm-5">
                            <p>
                            {% include 'FTNWBundle:Editor:netmail-buttons.html.twig' %}
                            </p>

                        </div>
                        <div class="col-sm-7">
                            <blockquote class="blockquote-reverse">
                                {{ message.m_origin }}
                                <footer>{{ message.m_tearline }}</footer>
                            </blockquote>
                        </div>
                    </div>
                    {% else %}
                    <div class="jumbotron">
                        <h1>No messages</h1>
                        <p><strong>NETMAIL</strong> has no messages yet :(</p>
                        <p><a href="" class="btn btn-primary btn-lg" role="button">Compose new</a></p>
                    </div>
                    {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function(){

            //$("#message_body>code").text(parseText($("#message_body>code").text()));
            //console.log($("#message_body>code").text());
            function parseText(text) {
                var rows = text.split('\n');
                for (var i = 0; i < rows.length; i++) {
                    if (rows[i].match(/[\s]{0,}[A-Za-z]{0,}[>]{1,}/) != null) {
                        rows[i] = "<span>" + rows[i] + "</span>";
                    }
                }
                return rows.join('\n');
            }
        });
    </script>
{% endblock %}
